In [2]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

# pymysql.connect('code-translate-db.curusflffqkl.us-east-2.rds.amazonaws.com', 'admin', 'codetranslate2021!')
db = SQLALCHEMY_DATABASE_URI = pymysql.connect(host='code-translate-db.curusflffqkl.us-east-2.rds.amazonaws.com',
port=3306,
user='admin',
password='codetranslate2021!')

cursor = db.cursor()

# EXECUTE A QUERY
print(cursor.execute("select version()"))

data = cursor.fetchone()
print(data)

1
('8.0.20',)

In [4]:
sql = '''drop database feedback'''
cursor.execute(sql)

0

In [5]:
## Create a Table
sql = '''create database feedback'''
cursor.execute(sql)

1

In [6]:
cursor.connection.commit()

In [8]:
sql = '''use feedback'''
cursor.execute(sql)

0

In [10]:
sql = '''
create table person (
id int not null auto_increment,
fname text,
lname text,
primary key (id)
)
'''
cursor.execute(sql)

0

In [12]:
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

(('person',),)

In [16]:
sql = '''
insert into person(fname, lname)  values('%s', '%s')''' % ('laaxmi', 'kant')
cursor.execute(sql)
db.commit()

In [17]:
sql = '''select * from person'''
cursor.execute(sql)
cursor.fetchall()

((1, 'laaxmi', 'kant'), (2, 'laaxmi', 'kant'))